= turbo_frame_tag Task do
  .Task
    = link_to Task.name, Task_path(Task), 
      data: {turbo_frame: "_top"}            
    .Task__actions
      = button_to "Delete",     
        Task_path(Task),      
        method: :delete,        
        class: "btn btn--light" 
      = link_to "Edit",         
        edit_Task_path(Task), 
        class: "btn btn--light" 
