#quotes.projects-content
  .container
    .section-title.center.testimonial-well
      %h2
        What people say  
    .row
      .col-md-4
        .quote-item
          %p.quote-mark &ldquo;
          %p 
            = "If we knew what we were doing, it wouldn't be called research, would it?" 
          .line-dec
          %p.bold
            Albert Einstien
            %br
            %em
              Renowned Physicist
      .col-md-4
        .quote-item
          %p.quote-mark &ldquo;
          %p 
            = "We learn something every day, and lots of times it's that what we learned the day before was wrong."
          .line-dec
          %p.bold
            Bill Vaughn
            %br
            %em
              Columnist and Author
      .col-md-4
        .quote-item 
          %p.quote-mark &ldquo;
          %p 
            = "A man who is afraid to make mistakes is unlikely to make anything."
          .line-dec
          %p.bold
            John Cleese
            %br
            %em
              Monty Python

