#readout {
	display: none;
}

@media (min-width: 768px) {
	#readout{
		display: flex;
		align-items: flex-end;
		float: left;
		color:#fff;
		vertical-align: text-bottom;
		text-align: left;
		min-height: 100vh;
		width: 12rem;
		background: transparent;
		font-size: 8pt;
		font-family: Rokkitt;
		font-kerning: none;
		overflow: hidden;
		span {
			font-size:8pt;
			font-kerning: none;
			margin-left: 5px;
			font-family: courier;
		}	
		img {
			width: 10px;
			height: 10px;
		}
		#svg_store {
			display: none;
		}
		svg {
			height: 10px;
			width: 10px;
			display:inline;
		}	
	}
}

.modal {
	display: none;
	min-width: 600px;
	min-height: 300px;
	margin: auto;
	z-index: 13;
	position: fixed;
	text-align: center;
	top: 30%;
	left: 40%;
	font-family: Syncopate;
	overflow: hidden;
	.modal-content {
		border: 2px solid #fff;
		border-radius: _rem(5);
		background-color: #fcda00;
		margin: 15% auto;
		padding: _rem(34);
		width: _rem(500);

		.modal-title {
		      font-family: syncopate, serif;
      			font-weight: 700;
      			font-style: normal;
			font-size: 14pt;
			margin: auto;
		}

	}
	.close {
		color: #f00;
		float: right;
		font-size: 2rem;
		font-weight: 600;
		width: 2rem;
		z-index: 2;
    	margin-top: -40px;
    	margin-right: -5px;
    	cursor: pointer;
    	background-color:#fcda00;
    	border-radius:50%;
    	line-height: 2rem;
		&:hover,
		&:focus {
			color: #c0c0c0;
			text-decoration: none;
			cursor: pointer;
		}
	}
}	
